* {
  box-sizing: border-box;
}

html{
  display: flex;
  justify-content: center;
  background-color: black;;
  padding: 0px;
  margin: 0px;
}

body{
  background-color: white;
  width: 430px;
  min-height: 100vh;
  padding: 0px;
  margin: 0px
}

/* root rem 설정 */
html, body {
  font-size: 62.5%;
  line-height: 1.285;
}

@media (max-width: 428px) {
  body {
    width: 100%; /* 작은 화면에서 너비를 100%로 설정 */
  }
}

button {
  padding: 0px;
  margin: 0px
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
