* {
  box-sizing: border-box;
}

html{
  display: flex;
  justify-content: center;
  background-color: black;;
  padding: 0px;
  margin: 0px;
}

body{
  background-color: white;
  width: 430px;
  min-height: 100vh;
  padding: 0px;
  margin: 0px
}

/* root rem 설정 */
html, body {
  font-size: 62.5%;
  line-height: 1.285;
}

@media (max-width: 428px) {
  body {
    width: 100%; /* 작은 화면에서 너비를 100%로 설정 */
  }
}

button {
  padding: 0px;
  margin: 0px
}
